.plugins .plugin-title .pressidium-action-link {
    white-space: nowrap;
}

.plugins .plugin-title .pressidium-action-link .dashicons {
    float: none;
    padding: 0;
    width: inherit;
    height: inherit;
}

.plugins .plugin-title .pressidium-action-link .dashicons::before {
    padding: inherit;
    background-color: inherit;
    box-shadow: none;
    font-size: inherit;
    color: inherit;
}
